
body {
    line-height: 1;
    background-color: black;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2 {
    letter-spacing: 1px;
    margin-bottom: 15px;
}
header img {
    height: 70px;
    width: 100px;
    margin-left: 2.5em;
    margin-top: .5em;
}
section h1 {
    color: white;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    letter-spacing: 2px;
}
.profiles {
    display: flex;
    height: 300px;
    justify-content: center;
    gap: 50px;
}
.profiles img {
    width: 250px;
    height: 250px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.profiles img:hover {
    border: 1px solid white;
}
button {
    color: gray;
    background-color: transparent;
    text-align: center;
    border: 1px solid gray;
    margin-top: 10px;
    font-size: 20px;
    padding: 15px 35px;
    letter-spacing: 2px;
    position: absolute;
    right: 43%;
    margin-top: 50px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
button:hover {
    color: white;
    border: 1px solid white;
}